In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/raw/2016年成都滴滴轨迹数据/2016_1101.csv")

In [5]:
data.head()

,司机ID,订单ID,GPS时间,轨迹点经度,轨迹点纬度
0,3fe49726673176e92098de74a38d989c,54bb3abff68839c313bbe72e6236d8a0,2016-11-01 00:02:02,104.078699,30.677837
1,3fe49726673176e92098de74a38d989c,54bb3abff68839c313bbe72e6236d8a0,2016-11-01 00:02:05,104.078699,30.677837
2,3fe49726673176e92098de74a38d989c,54bb3abff68839c313bbe72e6236d8a0,2016-11-01 00:02:08,104.078699,30.677837
3,3fe49726673176e92098de74a38d989c,54bb3abff68839c313bbe72e6236d8a0,2016-11-01 00:02:14,104.078759,30.677797
4,3fe49726673176e92098de74a38d989c,54bb3abff68839c313bbe72e6236d8a0,2016-11-01 00:02:17,104.078859,30.677746

In [8]:
data = pd.read_csv('/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/RoadMatch/processed/matched_20161101_dedup_with_dwell.csv')

In [9]:
data.head()  # Display the first few rows of the dataframe

,traj_id,timestamp,orig_lon,orig_lat,matched_lon,matched_lat,edge_id,dist_m,viterbi_lp,司机ID,订单ID,GPS时间,轨迹点经度,轨迹点纬度,dwell_time
0,00003ad9f837aca8ecdb9ae0729d0866,2016-11-01 14:35:46,104.104556,30.701721,104.104555,30.701667,31355,6.004875,-1.252032e-01,NaN,NaN,NaN,NaN,NaN,3.0
1,00003ad9f837aca8ecdb9ae0729d0866,2016-11-01 14:36:31,104.103136,30.701760,104.103097,30.701757,31356,3.715794,-1.113298e+02,NaN,NaN,NaN,NaN,NaN,3.0
2,00003ad9f837aca8ecdb9ae0729d0866,2016-11-01 14:36:34,104.102986,30.701740,104.102985,30.701688,13833,5.765258,-1.114944e+02,NaN,NaN,NaN,NaN,NaN,3.0
3,00003ad9f837aca8ecdb9ae0729d0866,2016-11-01 14:37:40,104.097346,30.701729,104.096922,30.701730,28446,40.604734,-1.000000e+12,NaN,NaN,NaN,NaN,NaN,3.0
4,00003ad9f837aca8ecdb9ae0729d0866,2016-11-01 14:38:11,104.096926,30.702769,104.096926,30.703167,31117,44.105692,-2.000000e+12,NaN,NaN,NaN,NaN,NaN,3.0

In [11]:
flow = pd.read_csv('/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/Trajnet/processed/flow_matched_20161101_dedup_with_dwell.csv')

In [12]:
flow.head(30)

,time_bin,1,5,6,7,15,18,23,24,35,...,130600,130601,130619,130797,130798,130802,130803,130804,130805,130853
0,2016-11-01 00:00:00,3,3,0,0,2,0,7,1,0,...,0,0,0,1,0,0,0,0,0,0
1,2016-11-01 00:10:00,8,15,3,5,7,2,20,3,1,...,0,0,1,11,0,0,0,0,0,0
2,2016-11-01 00:20:00,12,13,4,3,15,6,31,12,0,...,0,0,0,16,0,0,1,0,0,0
3,2016-11-01 00:30:00,16,22,6,7,20,11,42,9,1,...,0,0,0,21,0,0,1,1,0,0
4,2016-11-01 00:40:00,8,25,6,4,18,7,41,11,2,...,0,0,0,17,0,0,0,0,0,0
5,2016-11-01 00:50:00,10,10,6,6,27,11,30,6,0,...,0,0,0,14,0,0,0,0,0,0
6,2016-11-01 01:00:00,8,14,6,5,16,11,41,4,2,...,0,0,0,12,0,0,0,0,0,0
7,2016-11-01 01:10:00,14,19,5,5,10,3,29,5,0,...,0,0,0,11,0,0,0,0,0,0
8,2016-11-01 01:20:00,4,13,1,2,15,4,21,8,0,...,0,0,0,10,0,0,0,0,0,0
9,2016-11-01 01:30:00,5,13,2,1,15,3,26,2,1,...,0,0,0,10,0,0,0,0,0,0
10,2016-11-01 01:40:00,2,6,2,2,7,7,19,3,0,...,0,0,0,14,0,0,1,2,0,0
11,2016-11-01 01:50:00,7,8,3,3,17,6,19,3,0,...,0,0,0,5,0,0,0,0,0,0
12,2016-11-01 02:00:00,8,10,2,1,8,5,25,4,0,...,0,0,0,4,0,0,0,0,0,0
13,2016-11-01 02:10:00,6,7,1,1,10,2,20,6,0,...,0,0,0,9,0,0,0,0,0,0
14,2016-11-01 02:20:00,4,6,2,1,10,3,13,5,0,...,0,0,0,15,0,0,1,1,0,0
15,2016-11-01 02:30:00,7,10,3,2,11,3,14,3,0,...,0,0,0,2,0,0,0,0,0,0
16,2016-11-01 02:40:00,5,9,1,2,3,7,9,4,1,...,0,0,0,7,0,0,0,0,0,0
17,2016-11-01 02:50:00,3,6,3,1,8,2,10,4,0,...,0,0,0,10,0,0,0,0,0,0
18,2016-11-01 03:00:00,4,8,2,3,7,2,8,2,0,...,0,0,0,5,0,0,0,0,0,0
19,2016-11-01 03:10:00,1,3,0,1,3,1,17,3,0,...,0,0,0,4,0,0,0,0,0,0
20,2016-11-01 03:20:00,6,10,4,4,6,3,13,3,0,...,0,0,0,6,0,0,0,0,0,0
21,2016-11-01 03:30:00,4,5,1,1,4,2,10,0,0,...,0,0,0,1,0,0,1,1,0,0
22,2016-11-01 03:40:00,1,3,2,3,6,1,8,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2016-11-01 03:50:00,3,4,1,2,3,6,8,2,0,...,0,0,0,2,0,0,0,0,0,0
24,2016-11-01 04:00:00,2,7,4,3,2,0,19,7,0,...,0,0,0,3,0,0,0,0,0,0
25,2016-11-01 04:10:00,3,6,2,2,9,3,17,4,0,...,0,0,0,6,0,0,0,0,0,0
26,2016-11-01 04:20:00,2,5,3,3,4,1,10,0,0,...,0,0,0,8,0,0,0,0,0,0
27,2016-11-01 04:30:00,1,4,1,0,5,1,12,5,0,...,0,0,0,5,0,0,0,0,0,0
28,2016-11-01 04:40:00,1,2,2,2,2,1,12,1,0,...,0,0,0,3,0,0,0,0,0,0
29,2016-11-01 04:50:00,2,2,1,2,6,1,8,1,0,...,0,0,0,7,0,0,0,0,0,0

In [13]:
flow.columns

Index(['time_bin', '1', '5', '6', '7', '15', '18', '23', '24', '35',
       ...
       '130600', '130601', '130619', '130797', '130798', '130802', '130803',
       '130804', '130805', '130853'],
      dtype='object', length=2922)

In [ ]:
import geopandas as gpd

data = gpd.read_file('/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/RoadMatch/roads_chengdu.shp')

In [ ]:
data.head()

,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,geometry
0,24548917,5114,secondary,None,None,F,0,0,F,F,"LINESTRING (103.63016 31.00596, 103.62783 31.0..."
1,25373389,5113,primary,人民中路一段,None,F,0,0,F,F,"LINESTRING (104.06474 30.65885, 104.06489 30.6..."
2,25373582,5134,secondary_link,人南立交,None,F,0,0,F,F,"LINESTRING (104.06597 30.62253, 104.0661 30.62..."
3,25373585,5113,primary,二环路,None,F,0,1,T,F,"LINESTRING (104.02662 30.68354, 104.02646 30.6..."
4,25373942,5112,trunk,彩虹大道,G213;G317;G350,F,0,0,F,F,"LINESTRING (103.62124 30.96608, 103.62367 30.9..."

In [14]:
df = pd.read_csv('/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/RoadMatch/processed/roads_chengdu_edges.csv')

/tmp/ipykernel_2242333/3862610767.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/mnt/nas/home/cilab/wyx_ws/Traffic-Benchmark/data/GaiyaData/RoadMatch/processed/roads_chengdu_edges.csv')

In [15]:
df.head()

,edge_id,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,length_m,start_lon,start_lat,end_lon,end_lat,geometry_wkt
0,0,24548917,5114,secondary,NaN,NaN,F,0,0,F,F,886.056308,103.630164,31.005963,103.622572,31.001367,"LINESTRING (103.6301643 31.0059626, 103.627832..."
1,1,25373389,5113,primary,人民中路一段,NaN,F,0,0,F,F,216.292281,104.064736,30.658853,104.064977,30.660700,"LINESTRING (104.0647365 30.6588526, 104.064888..."
2,2,25373582,5134,secondary_link,人南立交,NaN,F,0,0,F,F,57.141948,104.065969,30.622532,104.066151,30.622225,"LINESTRING (104.0659695 30.6225318, 104.066097..."
3,3,25373585,5113,primary,二环路,NaN,F,0,1,T,F,22.458245,104.026622,30.683542,104.026457,30.683399,"LINESTRING (104.026622 30.6835424, 104.0264567..."
4,4,25373942,5112,trunk,彩虹大道,G213;G317;G350,F,0,0,F,F,684.593508,103.621244,30.966083,103.627366,30.969292,"LINESTRING (103.6212444 30.966083, 103.6236744..."